  body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer{
  height: 60px;
  width: 100%;
  background-color: black;
  color:orange;
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom:10px;
  border: 2px solid orange;

  
  
}
ul{
  display: flex;
  list-style: none;
  gap: 20px;
  
}
a{
  text-decoration: none;
  color: orange;
  transition: color 0.3s ease;
}
a:hover {
  color: white; 
}
li {
  font-size: 18px;
  font-weight: bold;
}

.Winter img{
  height: 35vh;
  width: 23vw;
  border-radius: 10px;
  position: relative;
  left: 50px;
  top: 50px;
  
}
.winter-box{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 50px;
  margin-bottom: 30px;
  
}


.image{
  height: 45vh;
  width: 28vw;
  background-color: rgb(240, 240, 246);
  margin-bottom: 30px;
  border-radius: 15px;
}


.Home_main {
  height: 37vh; 
  background-size: cover; 
  background-position: center; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  position: relative; 
  padding: 250px; 
  overflow: hidden;
  
}
h1{
  font-size: 40px;
  height: 7vh;
  border: 2px solid rgb(125, 123, 123);
  width: 40vw;
  position: relative;
  left: 200px;
  border-radius: 15px;
  background-color: rgba(82, 76, 76, 0.2);
  color: rgb(241, 240, 245);
}
h3{
  font-size: 30px;
  height: 12vh;
  border: 2px solid rgb(55, 47, 47);
  width: 60vw;
  position: relative;
  left: 90px;
  border-radius: 15px;
  background-color: rgba(86, 80, 80, 0.2);
  color: rgb(20, 25, 28);
}

.Winter{
  background-color: rgb(7, 66, 66);
} 
